<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Scrobble_LastDate" value="" />
    <add key="Scrobble_BetweenTime" value="5" />
    <add key="LastFM_Username" value="" />
    <add key="LastFM_Password" value="" />
    <add key="FetchAlbumArtist" value="0" />
    <add key="FixUtcNowTime" value="0" />
    <add key="HttpsConnection" value="1" />
  </appSettings>
  <!-- Don't edit or remove the following! -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Resources" />
    </assemblyBinding>
  </runtime>
</configuration>